/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* UNIVERSAL STYLES SECTION */
.black-normal-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #424247;
}

.button-priamry {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 16px 34px;
    color: #FFF;
    font-weight: 700;
    width: 10.87rem;
    height: 3.25rem;
    margin: 8px;
}


/* UNIVERSAL STYLES SECTION */

/* NAV SECTION STARTS HERE */
.hamburger-menu {
    display: none;
}

.header {
    margin: 0 80px;
}

.nav-left {
    width: 46%;
}

.nav-right {
    width: 56%;
}

.navigation,
.nav-left {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.tripbliss-text {
    font-size: 2rem;
}

.bliss-orange {
    color: #FF5400;
    padding: 5px;
}

.navigation>.nav-right>ul {
    display: flex;
    justify-content: space-between;
}

.nav-right ul {
    list-style: none;
}

.nav-right a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

/* NAV SECTION ENDS HERE */
/* BANNER IMAGE STARTS */
.banner-parent {
    margin: 3rem auto;
    background-image: url("./Images/Group-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 28rem;
    text-align: center;
    border-radius: 1rem;
}

.banner-title {
    padding-top: 6.625rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    margin: 24px auto;
    width: 676px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 48px;
}

.banner-input-fields-parent {
    padding: 2.5rem;
    border-radius: 8px;
    width: fit-content;
    height: 4rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background: rgba(255, 255, 255, 0.492);
    display: flex;
    gap: 1.3rem;

}

.banner-text,
.banner-when,
.banner-select {
    width: 10.8rem;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 16px;
    color: rgba(104, 108, 110, 0.348);
    font-weight: 400;
}

.banner-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 16px 34px;
    color: #FFF;
    font-weight: 700;
    width: 174px;
    height: 52px;
}

/* banner section ends  */

/* OUR POPULAR TRIPS STARTS */
.our-popular-tours-text-container {
    display: flex;
    text-align: left;
    /* padding: 10px; */
    margin: 1.2rem 1.5rem;
    align-items: center;

}

.popular-image {
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}

.tours-title {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 2.4rem;
}

.summary {
    padding-top: 1rem;
    font-size: 1.1rem;
}

.tours-description {
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

/* OUR POPULAR TRIPS ENDS */

/* DESTINATION GALLERY */
.destination-text-container {

    text-align: center;
    margin: 4rem 3.5rem;
}

.destination-title {
    color: #14141a;
    font-weight: 800;
    font-size: 2.5rem;
}

.destination-description {
    margin-top: 1.5rem;
    color: rgba(20, 20, 26, 0.7);
    font-weight: 400;
}

.Maldives {
    grid-area: Maldives;
}

.Indonesia {
    grid-area: Indonesia;
}

.Srilanka {
    grid-area: Srilanka;
}

.North-America {
    grid-area: North-America;
}

.Kashmir {
    grid-area: Kashmir;
}

.Bangladesh {
    grid-area: Bangladesh;
}

.Bandarban {
    grid-area: Bandarban;
}

.destination-gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.destination-gallery-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-areas:
        "Maldives Maldives Maldives Indonesia Indonesia Indonesia"
        "Srilanka Srilanka North-America North-America North-America Kashmir"
        "Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban";
    gap: 1.3rem;
    margin-bottom: 3.12rem;
}

/* DESTINATION GALLERY */
/* why choose us section */
.why-us-text-container {
    margin: 2rem 4rem;
    font-weight: 800;
}

.why-us-title {
    font-size: 3rem;
}

.why-us-text-container .why-us-title {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.why-us-card-container {
    background-color: #f8ddcf;
    width: 50%;
    margin: 2rem 3rem;
    height: 25rem;
    border: 1px solid #FF5400;
    border-radius: 1rem;

}

/* why choose us section ending*/

/* NEWSLETTER STARTS */
.newsletter-parent {
    display: flex;
    width: 95%;
    height: 25rem;
    margin: 1rem auto;
    border-radius: 1rem;
    align-items: center;
}

.newsletter-input-card-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;

}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 95%;
    height: 90%;
    margin-top: 1rem;
    border: 2px solid salmon;
    border-radius: 1rem;

}

.hrr {
    width: 30vw;
    margin: 1rem;
}

.input-actualfields {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    color: (19, 19, 24, 0.05);


}

.subscribe {
    width: 20rem;
    height: 3rem;
    background-color: #FF5400;
    border-radius: 1rem;
}

.newsletter-img {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background: url("./Images/Rectangle8\(1\).png");
    width: 46%;
    height: 84%;
    background-repeat: no-repeat;
    background-size: cover;

}

.tilted-box {
    position: relative;
    top: 13.5rem;
    left: 14rem;
    border-radius: 16px;
    background: #FF5400;
    padding: 20px;
    width: fit-content;
    transform: rotate(-15deg);
}

.tilted-box p,
.tilted-box h2 {
    margin: 0;
}



/* NEWSLETTER ENDS */

/* FOOTER STARTS */
.footer-container{
    padding-top: 1rem;
    height: 20rem;
    background: rgba(19, 19, 24, 0.05);
}
.tripbliss-logo-container{
    margin-top: 2rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
}
.tripbliss-advisory{
    text-align: center;
    padding-bottom: 2rem;
}
.footer-text{
    padding-top:  3rem;
    text-align: center;
}
.scocial-icon{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.hra{
margin: 1rem;
}


/* FOOTER ENDS */



@media screen and (max-width: 600px) {

    /* nav section starts */
    .nav-right {
        visibility: hidden;
    }

    .logo {
        width: 30%;
        margin-right: 2rem;
    }

    .nav-left {
        min-width: 60vw;
    }

    .hamburger-menu {
        margin: 1rem 2rem;
        padding: 0 1.5rem;
        background-image: url("./Images/favicon/favicon-32x32.png");
        display: block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* nav section ends */
    /* banner section starts  */
    .banner-parent {
        width: 95%;
        min-height: 60vh;
    }

    .banner-input-fields-parent {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 32vh;
        row-gap: 10px;

    }

    .banner-text,
    .banner-when,
    .banner-select {
        min-width: 60vw;
        max-height: auto;

    }

    .banner-title {
        font-size: 2.5rem;
        padding-top: 10px;
    }

    /* banner section ends  */

    /* POPULAR TOUR */
    .our-popular-tours-text-container {
        flex-direction: column;
        /* justify-content: center; */
    }

    .popular-image {
        width: 22rem;
        height: 30rem;
        object-fit: contain;
    }


    /* POPULAR TOUR */

    /* YOUR DESTINATION  GALLERY STARTS */
    .destination-gallery-container img {
        height: 35vh;
    }

    .destination-gallery-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-areas:
            "Maldives"
            "Indonesia"
            "Srilanka"
            "North-America"
            "Kashmir"
            "Bangladesh"
            "Bandarban";
        gap: 1rem;
    }

    /* YOUR DESTINATION  GALLERY ENDS */

    /* WHY US */
    .why-us-text-container {
        flex-direction: column;
    }
    /* WHY US */

    /* NEWSLETTER START */

    .newsletter-parent{
        flex-direction: column;
        width: 100%;
    }
    .input-field{
        width: 20rem;
    }
    .card{
        width: 20rem;
    }
    .newsletter-img{
        width: 80%;
        min-height: 100%;
    }
    .tilted-box{
        position: relative;
        top: 16.5rem;
        left: 3.5rem;
    }
}