/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* UNIVERSAL STYLES SECTION */
.black-normal-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #424247;
}

.button-priamry {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 16px 34px;
    color: #FFF;
    font-weight: 700;
    width: 10.87rem;
    height: 3.25rem;
    margin: 8px;
}


/* UNIVERSAL STYLES SECTION */

/* NAV SECTION STARTS HERE */
.hamburger-menu {
    display: none;
}

.header {
    margin: 0 80px;
}

.nav-left {
    width: 46%;
}

.nav-right {
    width: 56%;
}

.navigation,
.nav-left {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.tripbliss-text {
    font-size: 2rem;
}

.bliss-orange {
    color: #FF5400;
    padding: 5px;
}

.navigation>.nav-right>ul {
    display: flex;
    justify-content: space-between;
}

.nav-right ul {
    list-style: none;
}

.nav-right a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

/* NAV SECTION ENDS HERE */
/* BANNER IMAGE STARTS */
.banner-parent {
    margin: 3rem auto;
    background-image: url("./Images/Group-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 28rem;
    text-align: center;
    border-radius: 1rem;
}

.banner-title {
    padding-top: 6.625rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    margin: 24px auto;
    width: 676px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 48px;
}

.banner-input-fields-parent {
    padding: 2.5rem;
    border-radius: 8px;
    width: fit-content;
    height: 4rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background: rgba(255, 255, 255, 0.492);
    display: flex;
    gap: 1.3rem;

}

.banner-text,
.banner-when,
.banner-select {
    width: 10.8rem;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 16px;
    color: rgba(104, 108, 110, 0.348);
    font-weight: 400;
}

.banner-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 16px 34px;
    color: #FFF;
    font-weight: 700;
    width: 174px;
    height: 52px;
}

/* banner section ends  */

/* OUR POPULAR TRIPS STARTS */
.our-popular-tours-text-container {
    display: flex;
    padding: 10px;
    margin: 1.2rem 3.5rem;
    align-items: center;
}

.rightsided-image {
    margin-left: 1.4rem;
}

.tours-title {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 2.4rem;
}

.summary {
    padding-top: 1rem;
    font-size: 1.1rem;
}

.tours-description {
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
/* OUR POPULAR TRIPS ENDS */

/* DESTINATION GALLERY */
.destination-text-container{

    text-align: center;
    margin: 4rem 3.5rem;
}
.destination-title{
    color: #14141a;
    font-weight: 800;
    font-size: 2.5rem;
}
.destination-description{
    margin-top: 1.5rem;
    color: rgba(20, 20, 26, 0.7);
    font-weight: 400;
}
.Maldives{
    grid-area: Maldives;
}
.Indonesia{
    grid-area: Indonesia;
}
.Srilanka{
    grid-area: Srilanka;
}
.North-America{
    grid-area: North-America;
}
.Kashmir{
    grid-area: Kashmir;
}
.Bangladesh{
    grid-area: Bangladesh;
}
.Bandarban{
    grid-area: Bandarban;
}
.destination-gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.destination-gallery-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-areas: 
    "Maldives Maldives Maldives Indonesia Indonesia Indonesia"
    "Srilanka Srilanka North-America North-America North-America Kashmir"
    "Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban";
    gap: 1.3rem;
    margin-bottom: 3.12rem;
}

/* DESTINATION GALLERY */
/* FOOTER STARTS */
.footer-container {
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 60vh;
    background: rgba(19, 19, 24, 0.05);
}
.tripblisss-footer{
    padding: 8px;
}
.footer-text{
    display: grid;
}
/* FOOTER ENDS */



@media screen and (max-width: 600px) {

    /* nav section starts */
    .nav-right {
        visibility: hidden;
    }

    .logo {
        width: 30%;
        margin-right: 2rem;
    }

    .nav-left {
        min-width: 60vw;
    }

    .hamburger-menu {
        margin: 1rem 2rem;
        padding: 0 1.5rem;
        background-image: url("./Images/favicon/favicon-32x32.png");
        display: block;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* nav section ends */
    /* banner section starts  */
    .banner-parent {
        width: 95%;
        min-height: 60vh;
    }

    .banner-input-fields-parent {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 32vh;
        row-gap: 10px;

    }

    .banner-text,
    .banner-when,
    .banner-select {
        min-width: 60vw;
        max-height: auto;

    }

    .banner-title {
        font-size: 2.5rem;
        padding-top: 10px;
    }

    /* banner section ends  */
    /* POPULAR TOUR */
    .our-popular-tours-text-container {
        flex-direction: column;
    }
}